%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%font-base {
  font-family: Ubuntu, sans-serif;
}
%rectangle {
  &:after {
    content: "";
    display: block;
    width: 32.5px;
    height: 0px;
    border: 2.4px solid $orange;
    margin-top: 5px;
    background: $orange;
  }
}

// FONT SIZE AND FAMILY
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// QUERIES
@mixin atSmall {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin atLarger {
  @media (min-width: 1920px) {
    @content;
  }
}
