.sml-txt {
  @include font-size(11px);
  line-height: normal;
  text-align: center;
  color: $just-grey;
}
.tlt-txt {
  color: $darken;
  font-weight: 700;
  @include font-size(18px);
  margin-bottom: 15px;
}
