html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: none;
  border: 0;
  color: inherit;
  margin: 0;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  /* padding: 0; */
}

button {
  background: none;
  border: 0;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button:focus {
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
button {
  cursor: pointer;
}
