.btn {
  @extend %flex-center;
  border-radius: 5.56px;
  font-weight: 500;
  color: $white;
  &--buy {
    @include font-size(15.309px);
    background: $green-blue;
    width: 140px;
    height: 36px;
  }
  &--orange {
    @extend %flex-center;
    font-weight: 500;
    width: 198px;
    height: 38px;
    background: $orange;
    text-align: left;
    padding: 0 15px;
    margin: 0 0 25px 0;
    p {
      @include font-size(12px);
      text-transform: uppercase;
    }
  }
  img {
    width: 19.31px;
    height: auto;
    margin-right: 8px;
  }
}
