.footer {
  background-color: $dark-blue;
  margin-top: 10px;
  padding: 27px 0 19px 0;
  border-bottom: 10px solid $green-blue;
  .container {
    @include atMedium {
      display: flex;
      flex-wrap: wrap;
    }
    div {
      @include atMedium {
        flex: 1;
      }
    }
  }
  &__tlt {
    color: $white;
    @extend %rectangle;
    @include atMedium {
      flex: 1 0 100%;
    }
  }

  &__boxes {
    @extend %flex-center;
  }
  &__partners {
    margin: 0 auto;
    width: 198px;
    @extend %flex-center;
    justify-content: space-between;
    @include atMedium {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      a:first-child {
        margin-right: 12px;
      }
    }
  }
  &__buttons {
    @extend %flex-center;
    flex-direction: column;
    padding-top: 34px;

    svg {
      margin-right: 20px;
      &.diff {
        width: 26px;
        height: auto;
      }
    }
  }
  &__box {
    flex: 1 0 50%;
  }
  &__subtitle {
    @include font-size(14px);
    line-height: 19px;
    font-weight: 700;
    color: $white;
  }
  p,
  a {
    @include font-size(12px);
    font-weight: 400;
    color: $white;
    text-decoration: none;
    margin: 4px 0;
  }
}
