.product {
  @extend %flex-center;
  flex-wrap: wrap;
  padding: 0 6px;
  &__name {
    font-weight: 500;
    @include font-size(10px);
    text-align: center;
    color: $just-grey;
    margin: 16px 0 6px 0;
  }
  &__rating {
    margin-bottom: 8px;
  }
  &__media {
    max-width: 78%;
  }
}
